@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

body {
  animation: changeBg 10s linear infinite;
}

@keyframes changeBg {
   0% {
    background-color: #FFF9CA;
   }

   25%{
    background-color: #94B49F;
   }

   50%{
    background-color: #ECB390;
   }

   75%{
    background-color: #B2C8DF;
   }

   100%{
    background-color: #FFC3C3;
   }
}



.heading-1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
 font-family: 'Great Vibes', cursive;
    color: #FF7396;
    transition: 3s;
}

.heading-1:hover {
  color: #FF4D00;
}

.menu {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #231955;
  transition: 5s;
}

.menu:hover {
  color: #61481C;
}


.para-first {
  text-align: center;
  margin-top: 6px;
  font-size: 15px;
  color: #395B64;
  transition: 3s;
}

.para-first:hover {
  color: #D4F6CC;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}


.gallery img {
  width: 100%;
  transition: 1s;
}

.gallery img:hover {
  border-radius: 10px;
  border: 2px solid #AD8B73;
  box-shadow: 2px 3px 6px #8D6262;
}
