@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
}

body {
 font-family: 'Poppins', sans-serif;
  animation: bodyColor 10s  linear infinite;
}

@keyframes bodyColor {
   0% {
    background-color: #FFF9CA;
   }

   25%{
    background-color: #94B49F;
   }

   50%{
    background-color: #ECB390;
   }

   75%{
    background-color: #B2C8DF;
   }

   100%{
    background-color: #FFC3C3;
   }
}




.heading-1 {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  font-weight: bolder;
  color: #787A91;
  font-family: 'Great Vibes', cursive;
  transition: 3s;
}

.heading-1:hover {
  color: #003F5C;
}

.par-1 {
  color: #EEB76B;
  text-align: center;
  font-weight: bold;
}


.heading-2 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: #FFE7BF;
  margin-top: 30px;
}



.image-1 {
  width: 500px;
  margin-top: 30px;
  margin-left: 500px;
}




.container {
  display:grid;
  place-items:center;
  width: 600px;
  height: 300px;
  background-color: #DDE7F2;
  margin-bottom: 10px;
  margin-left: 445px;
  border-radius: 10px;
  transition: 1s;
}

.container:hover {
  border-radius: 50px;
  border: 2px solid #BAABDA;
  background-color: #DAE2B6;
  box-shadow: 2px 4px 6px #ADC2A9;

}


.head-3 {
  text-align: center;
  /* margin-bottom: 255px; */
   color: #0D7377;
}

.head-4 {
  color: #F05454;
}


.head-5 {
  color: #5A3D5C;
}

.last {
  display:flex;
  justify-content:center;
  align-items:center;
}

footer {
  text-align: center;
}

.heading-one {
  margin-top: 20px;
  font-size: 50px;
  font-weight: bolder;
  color: #371B58;
  transition: 1s;
}

.heading-one:hover {
  text-shadow: 1px 2px 10px #950101;
  color: #4E9F3D;
}